* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 20px 29px 20px 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #272C3D;
    box-shadow: 0px 0px 10px 10px #00000080;
}

.navbar_nav_navi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar_nav_navi_list>a {
    text-decoration: none;
    font-family: Quantico;
    font-size: 20px;
    font-weight: 400;
    color: white;
    transition: 0.4s;
}

.navbar_nav_navi_list>a:hover {
    color: #FF9C28;
    transition: 0.4s;
}

.navbar_search {
    width: 190px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #404864;
}

.navbar_search>input {
    background-color: #404864;
    outline: none;
    border: none;
    color: white;
    font-family: Quantico;
}

.navbar_select {
    font-family: Quantico;
    font-size: 14px;
    font-weight: 400;
    background-color: #00000080;
    border: none;
    outline: none;
    color: #FFFFFFCC;
    width: 130px;
    height: 30px;
    border-radius: 5px;
}

.navbar_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.showcase {
    background-image: url(./assets/img/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.showcase_population {
    display: flex;
    flex-direction: column;
    padding-left: 560px;
    align-items: center;
    padding-top: 710px;
}

.showcase_population_first {
    font-family: Quantico;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.showcase_population_second {
    font-family: Quantico;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFFCC;
}

h1 {
    padding-top: 33px;
    font-family: Quantico;
    font-size: 42px;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.5) inset;
    /* background: linear-gradient(90deg, #aaa, #000, #aaa);
    -webkit-background-clip: text;
    color: transparent;} */
    background: linear-gradient(180deg, #ffffff, #ffffff, #ffffff, #949494, #3f3f3f);
    -webkit-background-clip: text;
    color: transparent;
}

main {
    background-color: black;
}

body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

swiper-container {
    width: 80%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carusel {
    display: flex;
    justify-content: center;
}

.first_section {
    width: 80%;
    background-color: #1B1E27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10%;
    padding: 30px;
    row-gap: 30px;
}

.first_section>h2 {
    font-family: Quantico;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
}

.wrapper_section {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 17px;
}

.wrapper_text>p {
    width: 95%;
    font-family: Quantico;
    font-size: 20px;
    font-weight: 400;
    color: #BFBFBF;
}

.wrapper_text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.wrapper_img {
    width: 260%;
}

.second_section {
    width: 80%;
    background-color: #1B1E27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10%;
    padding: 136px 30px 188px 30px;
    row-gap: 30px;
    /* margin-bottom: 30px; */
}

.second_section>h2 {
    font-family: Quantico;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
}

.main_contact>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.main_contact>ul>li>a {
    text-decoration: none;
    font-family: Quantico;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.wrapper_section_second {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 17px;
    padding-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 34px 16px 26px;
    background-color: #272C3D;
    box-shadow: 0px 0px 10px 10px #00000080;
}

main {
    padding-bottom: 30px;
}